body {
    color: white;
    font: normal 8px;
    margin: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}
